APP_NAME=Digital Barometer API
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=barometer_db
OPENAI_API_KEY=
OPENAI_BASE_URL=
LANGCHAIN_MODEL=
LLM_TEMPERATURE=0.1
NEWSAPI_API_KEY=
SENTIMENT_MODEL=gpt-4o-mini
ANALYSIS_MODEL=gpt-4o-mini
LLM_SENTIMENT_BATCH_SIZE=20
LLM_MAX_CONCURRENCY=3